modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["maven"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Test Backend"

[[workflows.workflow]]
name = "Frontend Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && next dev -H 0.0.0.0 -p 5000"
waitForPort = 5000

[[workflows.workflow]]
name = "Backend Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && mvn clean spring-boot:run"
waitForPort = 8000

[[workflows.workflow]]
name = "Test Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && mvn test"

[deployment]
run = ["sh", "-c", "cd frontend && npm install && next dev -H 0.0.0.0 -p 5000"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33213
externalPort = 3002

[[ports]]
localPort = 34769
externalPort = 3000

[[ports]]
localPort = 35183
externalPort = 4200

[[ports]]
localPort = 35565
externalPort = 6000

[[ports]]
localPort = 40367
externalPort = 5173

[[ports]]
localPort = 40535
externalPort = 3003

[[ports]]
localPort = 43183
externalPort = 6800

[[ports]]
localPort = 43731
externalPort = 3001

[[ports]]
localPort = 44957
externalPort = 5000
